html, body {
    height: 100%;
}

@keyframes filterColor {
    0% {
        filter: blur(0);
    }
    30% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0);
    }
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Serif', 'Inter', sans-serif;
    color: #ffffff;
    font-weight: 900;
    font-size: 5vw;
    text-align: center;
    line-height: 1.1;
}

.container div {
    margin: 2vh 1vw;
}

.container.stress {
    animation: filterColor 3s 1 backwards linear;
}

@keyframes countdownColor {
    0% {
        filter: hue-rotate(0);
    }
    55% {
        filter: hue-rotate(0);
    }
    60% {
        filter: hue-rotate(-45deg);
    }
    85% {
        filter: hue-rotate(0);
    }
    100% {
        filter: hue-rotate(0);
    }
}

.emoji {
    max-width: 25vw;
    font-size: 1vw;
    text-align: left;
    animation: countdownColor 10s infinite linear;
    line-height: 1.4;
}

.filled {
    color: red;
}

.empty {
    color: #8e0000;
}

@media (max-width: 600px) {
    body {
        font-size: 15vw;
    }

    .emoji {
        max-width: 75vw;
        font-size: 2vw;
    }
}